<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.showCase {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}
.showCase.active {
  position: absolute;  
  right: 300px;
}
.showCase header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
}
.toggle {
  background: url("./img/menu.png");
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active {
  background: url("./img/close.png");
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.menu ul {
  list-style: none;
  font-size: 24px;
}
.menu ul li a {
  text-decoration: none;
  color: #111;
  transition: 0.2s;
}
.menu ul li a:hover {
  color :#03a8f4
}
.showCase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.text {
  z-index: 10;
}
.text h2 {
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1em;
}
.text h3 {
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 1em;
}
.text p {
  font-size: 1em;
  margin: 20px 0;
  color: #fff;
  max-width: 700px;
}
.text a {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  background: #fff;
  padding: 10px 30px;
  color: #111;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: .6s;
}
.text a:hover {
  letter-spacing: 6px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03a8f4;
  mix-blend-mode: overlay;
}
.social {
  position: absolute;
  bottom: 20px;
  display: flex;
}
.social li {list-style: none;}
.social li a {
  display: inline-block;
  margin-right: 20px;
  transition: .25s;
}
.social li a:hover {
  transform: translateY(-15px);
}

@media screen and (max-width: 767px) {
  .showCase,
  .showCase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}

=======
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

:root {
  --box-shadow: 0 8px 22px rgba(0 ,0, 0, 0.2);
}
* {
  transition: all 0.4s ease;
}

body {
  font-family: "Zen Antique Soft", serif;
  color: white;
}
html {
  font-size: 62.5%; /* font-size=10px */
}
h2,h3 {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  font-weight: 540;
}
a,p {
  position: relative;
  z-index: 1;
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* header */
header {
  /* background-color: #000; */
  padding: 2.7rem 5.4rem;
  text-shadow: #000 1px 3px 6px;
  z-index: 1000;
  position: fixed;
}
/* menu-bar section */
header .menu-bar {
  position: absolute;
  top: 30vh;
  right: -200px;
  background-color: #000;
  width: 170px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  opacity: 0;
}
header .menu-bar.active{
  right: -20px;
  opacity: 1;
}
header .menu-bar li {
  margin-bottom: 3rem;
}
header .menu-bar li a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
header .menu-bar li a:hover {
  color: aquamarine;
}
header .book-open-btn {
  display: none;
}
header .book-open-btn.active {
  display: block;
}
header .book-close-btn {
  display: block;
}
header .book-close-btn.active {
  display: none;
}
.logo-title {
  cursor: pointer;
}
header img {
  width: 3.5rem;
  cursor: pointer;
}


/* hero section */
.hero {
  background-image: url(./img/another-world.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.hero::after {
  content:"";
  position: absolute;
  background-color: rgba(0 ,0, 0, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero .title {
  transform: translateY(240px);
}
.hero h1 {
  text-shadow: #000 1px 3px 6px;
  font-size: 7.5rem;
}
.hero h3 {
  width: 450px;
  text-align: right;
  text-shadow: #000 1px 3px 6px;
}

/* sale section */
#sale h2 {
  font-size: 4rem;
}
#sale h3 {
  font-size: 3rem;
}
#sale img {
  width: 100%;
}
.card-effect {
  box-shadow: var(--box-shadow);
}
.game-card {
  background-color: rgba(255 ,255, 255, 0.4);
}
.game-card h5 {
  font-size: 2rem;
}
.game-card p {
  font-size: 1.7rem;
  line-height: 1.8;
  letter-spacing: 0.1rem;
}


/* company */
.company {
  background-image: url(./img/house.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.company::after {
  content:"";
  position:absolute;
  background-color: rgba(0 ,0, 0, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.company h2 {
  font-size: 3.9rem;
}
.company p {
  font-size: 2.5rem;
  line-height: 3.9rem;
}
.company-text-last {
  position: absolute;
  top: 70%;
  left: 7%;
}
.company-info .more a {
  display: inline-block;
  font-size: 1.7rem;
  color: white;
  padding: 0.6rem;
}
.company-info .more a:hover {
  transform: translateX(1rem);
  font-size: 2.2rem;
}

/* hardware section */
.hardware-card img {
  width: 100%;
  height: 100%;
}
.hardware-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hardware-card .overlay {
  content:"";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.hardware-card:hover .overlay {
  background-color: rgba(13 ,71, 92);
  opacity: 0.2;
}
.hardware-card h3 {
  position: absolute;
  color: #fff;
  font-size: 4rem;
  opacity: 0;
}
.hardware-card:hover img {
  transform: scale(1.1);
}
.hardware-card:hover h3 {
  opacity: 1;
}

/* contact */
.contact {
  background-image: url(./img/butterfly.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.contact input {
  height: 4rem;
  margin-bottom: 2rem;
}
.contact textarea {
  width: 70%;
}
.contact vision-sight {
  position: absolute;
  bottom: 10%;
  right: 8%;
  font-size: 4rem;
}

/* footer section */
footer {
  padding: 40px;
  font-size: 2rem;
}
footer h2 {
  font-size: 3rem;
  height: 50%;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: aquamarine;
}


/* media query  */
@media (max-width:1000px) {
  .hero h1 {
    font-size: 5rem;
  }
  .hero h3 {
    width: 400px;
    font-size: 3rem;
  }
  }
  @media (max-width:768px) {
    .hero .title {
      transform: translateY(-50px);
      text-align: center;
    }
    .hero h1 {
      width: 400px;
      font-size: 6rem;
    }
    .hero h3 {
      width: 100%;
      text-align: center;
    }
  }
  @media (max-width:576px){
    html {
      font-size: 45%;
    }
    .hero h3 {
      font-size: 2rem;
    }
    /* company section */
    .company-info {
      text-align: center !important;
      padding: 2rem !important;
    }
    .company-text-last {
      position: static;
      margin-top: 30rem;
    }
    .company-info h2 {
      margin-bottom: 4.6rem;
    }
    .company-info p {
      font-size: 2.2rem;
      line-height: 5rem;
    }
    .company-info .more {
      margin-top: 9rem;
    }
    /* contact section */
    .contact h2 {
      font-size: 4.6rem;
      text-align: center;
    }

    /* footer section */
    footer {
      padding-top: 15px;
    }
  }

>>>>>>> 8a6115e300cb155080ebb403d188278056640bc7
